<o-form
  service="gyms"
  entity="gym"
  keys="gymid"
  header-actions="R;I;U;D"
  show-header-navigation="no"
  ><div style="display: none">
    <o-text-input
      attr="gymid"
      sql-type="INTEGER"
      enabled="no"
      visible="no"
    ></o-text-input>
  </div>
  <o-row>
    <!-- Photo Column -->
    <o-column>
      <o-image
        id="photo"
        attr="photo"
        empty-image="assets/images/no-image.png"
        sql-type="OTHER"
      ></o-image>
    </o-column>
    <!-- Name Column -->
    <o-column fxFlex>
      <o-row>
        <o-text-input
          class="input-padding"
          attr="name"
          fxFlex="40"
          required="yes"
        ></o-text-input>
        <!-- Address Column -->
        <o-text-input
          class="input-padding"
          attr="address"
          fxFlex="40"
          required="yes"
        ></o-text-input>
        <!-- City Column -->
        <o-text-input
          class="input-padding"
          attr="city"
          fxFlex="20"
        ></o-text-input>
      </o-row>
      <o-row>
        <!-- <o-nif-input attr="ID" class="input-padding" fxFlex="40" required="yes"></o-nif-input> -->

        <!-- Phone Column -->
        <o-integer-input
          attr="phone"
          class="input-padding"
          step="0"
          grouping="no"
          fxFlex="40"
        ></o-integer-input>
        <o-text-input
          class="input-padding"
          attr="schedule"
          fxFlex="20"
        ></o-text-input>
      </o-row>
      <o-row>
        <!-- Email Column -->
        <o-email-input attr="email" fxFlex></o-email-input>
      </o-row>
      <o-row>
        <!-- Description Column -->
        <o-textarea-input attr="description" fxFlex></o-textarea-input>
      </o-row>
    </o-column>
  </o-row>

  <o-button [routerLink]="['/', gymid?.value, 'services']"></o-button>



  <!-- <o-button [routerLink]="['/', gymid.value]"></o-button> -->
  <!-- <o-button [routerLink]="['/', gymid.value]">View Details</o-button> -->


  <div class="images">
    <o-column>
      <o-image
        id="image1"
        attr="image1"
        empty-image="assets/images/no-image.png"
        sql-type="OTHER"
        type="image"
        image-type="base64"
      ></o-image>
    </o-column>
    <o-column>
      <o-image
        id="image2"
        attr="image2"
        empty-image="assets/images/no-image.png"
        sql-type="OTHER"
        type="image"
        image-type="base64"
      ></o-image>
    </o-column>
    <o-column>
      <o-image
        id="image3"
        attr="image3"
        empty-image="assets/images/no-image.png"
        sql-type="OTHER"
        type="image"
        image-type="base64"
      ></o-image>
    </o-column>
  </div>
</o-form>
